<h1 style="text-align: center;" class="dispplay-5">Cadastro de grupo</h1>
<div class="card">
    <div class="card-body m-4">
        <form action="/chat/novo" method="post">
        <div class="row">
            <div class="col">
                <label for="nome">Nome do Grupo:</label>
                <input class="form-control" type="text" name="nome" id="nome">
                <label for="tema">Tema do Grupo: </label>
                <input class="form-control" type="text" name="tema" id="tema">
            </div>
        </div>
        <button class=" mt-3 btn btn-success" type="submit">Cadastre o grupo</button>
        </form>
    </div>
</div>