<div class="card">
    <div class="card-body">
        <h4>Nova Postagem</h4>
        <form action='/admin/postagens/nova'
        method="post" enctype="multipart/form-data">
            <label for="titulo">Titulo</label>
            {{!-- <input type="hidden" name="user" id="user"> --}}
            <input type="text" name="titulo" class="form-control">
            <label for="slug">Slug: </label>
            <input type="text" name="slug" class="form-control">
            <label for="descricao">Descriçao: </label>
            <input type="text" name="descricao" class="form-control">
            <label for="conteudo">Conteúdo</label>
            <textarea name="conteudo" class="form-control"></textarea>
            <label for="categoria">
                Categoria: 
            </label>
            <select name="categoria" class="custom-select">
                {{#each categorias}}
                    <option value="{{_id}}">{{nome}}</option></option>
                {{else}}
                    <option value="0">Nenhuma categoria registrada</option>
                {{/each}}
            </select>
            <label for="image">Caso deseje colocar uma imagem insira aqui</label>
            <input type="file" name="file">
            <button type="submit" class="btn btn-success">Enviar imagem</button>
        </form>
    </div> 
</div>