<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Blog João</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
          <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
{{#if user}}

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/categorias">Categorias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/postagens">Postagem</a>
        </li>

{{else}}

{{/if}}

        {{#if user}}
          <li class="nav-item">
          <a class="nav-link " href="/users/logout" tabindex="-1" aria-disabled="true">Logout</a>
        </li>
        <li class="nav-link ml-1">
          <a href="/chat" class="btn btn-info">
            <span class="glyphicon glyphicon-comment"></span> Clique para acessar o chat
          </a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link " href="/users/login" tabindex="-1" aria-disabled="true">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/users/registro" tabindex="-1" aria-disabled="true">Registro</a>
        </li>
      </ul>
      {{/if}}
    </div>
  </div>
</nav>
